body{
  background-color: #87CEEB;

}
.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-body-content {
  gap: var(--dl-space-space-twounits);
  top: 16px;
  flex: 1;
  left: 64px;
  width: 1106px;
  height: 316.796875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-todo {
  width: 327px;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  border-radius: 24px;
  justify-content: flex-start;
  background-color: #F0EAD6;
}
.home-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-title {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading {
  align-self: center;
}
.home-todo-content {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-text02 {
  align-self: flex-start;
}
.home-text05 {
  align-self: flex-start;
}
.home-text08 {
  align-self: flex-start;
}
.home-inprogress {
  width: 327px;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  border-radius: 24px;
  justify-content: flex-start;
  background-color: #F0EAD6;
}
.home-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-title1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading1 {
  align-self: center;
}
.home-improgress-content {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-text13 {
  align-self: flex-start;
}
.home-text16 {
  align-self: flex-start;
}
.home-text19 {
  align-self: flex-start;
}
.home-done {
  width: 327px;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  border-radius: 24px;
  justify-content: flex-start;
  background-color: #F0EAD6;
}
.home-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-title2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading2 {
  align-self: center;
}
.home-done-content {
  width: 100%;
  height: auto;
}
.home-text24 {
  align-self: flex-start;
}
.home-text27 {
  align-self: flex-start;
}
.home-text30 {
  align-self: flex-start;
}
.home-container5 {
  display: contents;
}
.home-container7 {
  display: contents;
}
@media(max-width: 1200px) {
  .home-staff1 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    max-width: var(--dl-size-size-small);
    max-height: var(--dl-size-size-small);
  }
  .home-staff2 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-staff11 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    max-width: var(--dl-size-size-small);
    max-height: var(--dl-size-size-small);
  }
  .home-staff21 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-staff12 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    max-width: var(--dl-size-size-small);
    max-height: var(--dl-size-size-small);
  }
  .home-staff22 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-staff13 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    max-width: var(--dl-size-size-small);
    max-height: var(--dl-size-size-small);
  }
  .home-staff23 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-staff14 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    max-width: var(--dl-size-size-small);
    max-height: var(--dl-size-size-small);
  }
  .home-staff24 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-staff15 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    max-width: var(--dl-size-size-small);
    max-height: var(--dl-size-size-small);
  }
  .home-staff25 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-staff16 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    max-width: var(--dl-size-size-small);
    max-height: var(--dl-size-size-small);
  }
  .home-staff26 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-staff17 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    max-width: var(--dl-size-size-small);
    max-height: var(--dl-size-size-small);
  }
  .home-staff27 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-staff18 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    max-width: var(--dl-size-size-small);
    max-height: var(--dl-size-size-small);
  }
  .home-staff28 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-container6 {
    top: 477px;
    left: 98px;
    position: absolute;
  }
}
