<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Ekle</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="static/css/style.css" />
    <script src="https://kit.fontawesome.com/be0ab69668.js" crossorigin="anonymous"></script>
</head>
<body>        
    <div class="container">
        {%with%}
        {% include 'navigator.html' %}
        {%endwith%}

        <div class="users" id="users">
            <div id="overlay"></div>
            <div class="users-container">
    
                <table >
                    <tbody id="user_information">
                        <tr>
                            <th>Full Name</th>                                
                            <th>TCKN</th>                                
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Role</th>
                            <th>Parent Roles</th>
                            <th>Template</th>
                        </tr>
                        {% for user in users %}
                        <tr>
         
                            <td>{{ user[0] }} {{ user[1] }}</td>
                            <td>{{ user[2] }}</td>
                            <td>{{ user[3] }}</td>
                            <td>{{ user[4] }}</td>
                            <td>{{ user[7] }}</td>
                            <td>{{ user[8] }}</td>
                            <td>
                                <div class="modal" id="modal{{ user[2] }}">
                                    <div class="customertemplate-container">
                                        <div class="close-button" data-close-button>
                                            <i class="fa-solid fa-xmark"></i>
                                        </div>
                                        <form id="templateForm{{ user[2] }}" name="templateForm{{ user[2] }}" action="" method="POST">
                                            <div class="description-background">
                                                <label for="description">Açıklama:</label>
                                                <textarea class="addtemplate-description" placeholder="Açıklama girin" id="description" name="description"></textarea>
    
                                            </div>
                                            <div class="template-type">
                                                <label for="templateType">Template Türü:</label><br>
                                                <select id="templateType" class="templateType" name="type">
                                                    <option value="81A">81A Ön Onaysız</option>
                                                    <option value="81A">81A Ön Onaylı</option>
                                                    <option value="MAVIKART">MAVIKART</option>
                                                    <option value="AUSBILDUNG">AUSBILDUNG</option>
                                                    <option value="SCHENGEN">SCHENGEN</option>
                                                    <option value="19C">19C</option>
                                                </select>
                                            </div>
                                            <div class="contract">
                                                <label for="contract">Sözleşme:</label>
                                                <i class="fa-solid fa-plus" style="font-size:20px;" onclick="addContractSelector('{{ user[2] }}')"></i>
                                                <br>
                                                <div class="innercontract" id="innercontract{{ user[2] }}">
                                                    <div class="contractselectors" id="contractselectors{{ user[2] }}">
                                                        <select name="contract0" id="contracts0" class="contracts">
                                                            {% for contract in contracts %}
                                                            <option value="{{ contract[0] }}">{{ contract[1] }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
    
                                                    <a href="{{ url_for('main.save_contract') }}">Sözleşme Ekle</a>
                                                </div>
                                            </div>

                                            <button class="update-button button button-primary button-lg" id="update-button"
                                            type="submit">Ekle</button>
                                                <input type="hidden" id="tckn" name="tckn" value="{{ user[2] }}">
                                                <input type="hidden" id="incharge" name="incharge" value='["{{ session["email"] }}"]'><br>
                                                <input type="hidden" id="files" name="files" value='[]'><br>                                
                                                <input type="hidden" id="tasks" name="tasks" value='[]'><br>
                                                <input type="hidden" id="comments" name="comments" value='[]'><br>
                                        </form>
            
                                    </div>
                                </div>
                                <div data-modal-target="#modal{{ user[2] }}" class="home-todo-content addtemplate">Template Ekle</div>
                            </td>
                            <script>
                                document.getElementById("templateForm{{user[2]}}").addEventListener("submit", function(event) {
                                    event.preventDefault();
                                    const formData = new FormData(this);
                                    const searchParams = new URLSearchParams(formData).toString();
                                    
                                    // Now you can send this URL-encoded parameters to your backend via AJAX
                                    console.log(searchParams);
                                    console.log( '/api/add_template?'+ searchParams);
                                    // Example AJAX request
                                    $.ajax({
                                        url: '/api/add_template?'+ searchParams,
                                        type: 'POST',
                                        success: function(response) {
                                            //reload page
                                            location.reload();
    
    
                                        },
                                        error: function(xhr, status, error) {
                                            console.error(error);
                                        }
                                });
                            });
                            // Attach event listeners after elements have been appended
                       
                                </script>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <script>

        $(".addtemplate").on("click", function () {
            const modal = document.querySelector($(this).data("modal-target"));
            openModal(modal);
        });

        $('#overlay').on('click', () => {
            const modals = document.querySelectorAll('.modal.active');
            modals.forEach(modal => {
                closeModal(modal);
            });
        });

        $("#addtemplate").on("click", '[data-close-button]', function () {
            const modal = $(this).closest('.modal')[0];
            closeModal(modal);
        });

        function openModal(modal) {
            if (modal == null) return;
            modal.classList.add('active');
            $('#overlay').addClass('active');
        }

        function closeModal(modal) {
            if (modal == null) return;
            modal.classList.remove('active');
            $('#overlay').removeClass('active');
        }

        function addContractSelector(userId) {
            var newselect = document.createElement("select");
            var nameid = document.querySelectorAll("#contractselectors" + userId + " .contracts").length;
            newselect.name = "contract" + nameid;
            newselect.id = "contracts" + nameid;
            newselect.className = "contracts";
            var options = {{ contracts|tojson }};
            options.forEach(function(optionText) {
                var option = document.createElement("option");
                option.text = optionText[1];
                option.value = optionText[0]; // Set value if needed
                newselect.add(option);
            });

            $("#contractselectors" + userId).append(newselect);
        }
    </script>
    
</body>
</html>
