{% set contract = template.get('contract') %}
{% set template_id = template.get('template_id') %}
{% set tckn = session.get('tckn') %}
{% set surname = session.get('surname') %}
{% set username = session.get('username') %}
{% set templateType = template.get("templateType") %}
{% set identifier = str(surname)+str(tckn[-4:])+str(template_id) %}
<div class="modal" id="modal{{identifier}}">
    <div class="customertemplate-container">
        <div id="customer" class="customertemplate-customer">
            {%if template.get("contractSigned") == 0%}
            <div class="signature-container">
                <canvas id="signatureCanvas" width="400" height="200"></canvas>
                <div class="signature-buttons">
                    <h2>Sözleşmeyi imzalayın</h2>

                    <button class="button update-button" onclick="clearSignature()">İmzayı temizle</button>
                    <div class="wait-status" id="waitstatus"></div>
                </div>
            </div>
            <div class="contracts-to-sign" style="display:flex;flex-direction: column;">
                {%for cont in contract%}
                <div class="contract-info" style="display:flex;justify-content: space-between;" >
                    <div class="contract-info-label" style="width:30%">
                        {%if cont.get("signed") == 0 %}

                        <label style="color:red;"> {{cont.get("contract").split("/")[-1]}}</label>
                        {%else%}
                        <label> {{cont.get("contract").split("/")[-1]}}</label>
                        {%endif%}
                    </div>
                    <div class="contract-info-buttons" style="display:flex;justify-content: space-between;width:70%;">
                        <button class="button update-button" onclick="saveSignature(`{{cont['contract']}}`,`{{identifier}}`,`{{template_id}}`,`{{tckn}}`)">Sözleşmeyi İmzala</button>
                        <form method="POST" action="" enctype="multipart/form-data">
                            {{ form.csrf_token }}
                            {{ form.file(class="file-input",id="signature-input-"+str(identifier))}}
                            <label
                                for= "signature-input-{{identifier}}"
                                class="update-button button" id="signature-label-{{identifier}}">İmza dosyası Yükle</label>
                            <script>
                                $("#signature-input-{{identifier}}").change(function (event) {
                                    filename = this.files[0].name;
                                    const file = event.target.files[0]; // Get the selected file
        
                                    $("#signature-label-{{identifier}}").text(filename);
                                    console.log(filename);
        
        
                                    // Read the file as data URL
                                    const reader = new FileReader();
                                    reader.onload = function(event) {
                                        const dataURL = event.target.result;
        
                                        // Call saveSignature function with signature data and other information
                                        saveSignature_file("{{cont['contract']}}","{{identifier}}","{{template_id}}","{{tckn}}",dataURL);
        
                                    };
                                    reader.readAsDataURL(file);
                                });
                            </script>
                            <input type="hidden" name="contract" value="{{contract}}">
                            <input type="hidden" name="template_id" value="{{template_id}}">
                            <input type="hidden" name="tckn" value="{{tckn}}">
                        </form>
                        <a style="text-decoration: none;text-align: center;" class="button update-button" href="/download/contracts/{{cont['contract'].split('/')[-1]}}">Sözleşmeyi İndir</a>
                    </div>
                </div>
                {%endfor%}
            </div>

            <script>
                const canvas{{identifier}} = document.getElementById('signatureCanvas');
                const ctx{{identifier}} = canvas{{identifier}}.getContext('2d');
                let isDrawing{{identifier}} = false;
                let lastX{{identifier}} = 0;
                let lastY{{identifier}} = 0;
            
                function draw{{identifier}}(e) {
                    if (!isDrawing{{identifier}}) return;
            
                    let rect = canvas{{identifier}}.getBoundingClientRect();
                    let mouseX = e.clientX - rect.left;
                    let mouseY = e.clientY - rect.top;
            
                    ctx{{identifier}}.strokeStyle = '#000';
                    ctx{{identifier}}.lineWidth = 2;
                    ctx{{identifier}}.lineCap = 'round';
            
                    ctx{{identifier}}.beginPath();
                    ctx{{identifier}}.moveTo(lastX{{identifier}}, lastY{{identifier}});
                    ctx{{identifier}}.lineTo(mouseX, mouseY);
                    ctx{{identifier}}.stroke();
            
                    lastX{{identifier}} = mouseX;
                    lastY{{identifier}} = mouseY;
                }
            
                canvas{{identifier}}.addEventListener('mousedown', (e) => {
                    isDrawing{{identifier}} = true;
                    let rect = canvas{{identifier}}.getBoundingClientRect();
                    lastX{{identifier}} = e.clientX - rect.left;
                    lastY{{identifier}} = e.clientY - rect.top;
                });
            
                canvas{{identifier}}.addEventListener('mousemove', draw{{identifier}});
            
                canvas{{identifier}}.addEventListener('mouseup', () => isDrawing{{identifier}} = false);
                canvas{{identifier}}.addEventListener('mouseout', () => isDrawing{{identifier}} = false);
            
                function clearSignature() {
                    ctx{{identifier}}.clearRect(0, 0, canvas{{identifier}}.width, canvas{{identifier}}.height);
                }
            
                canvas{{identifier}}.addEventListener('touchstart', (e) => {
                    e.preventDefault(); // Prevent default touch behavior (e.g., scrolling)
                    isDrawing{{identifier}} = true;
                    let rect = canvas{{identifier}}.getBoundingClientRect();
                    let touch = e.touches[0];
                    lastX{{identifier}} = touch.clientX - rect.left;
                    lastY{{identifier}} = touch.clientY - rect.top;
                });
            
                canvas{{identifier}}.addEventListener('touchmove', (e) => {
                    e.preventDefault(); // Prevent default touch behavior (e.g., scrolling)
                    let touch = e.touches[0];
                    draw{{identifier}}(touch);
                });
            
                canvas{{identifier}}.addEventListener('touchend', () => isDrawing{{identifier}} = false);
            
                function saveSignature_file(contract, filename, template_id, tckn, dataURL) {
                    fetch('/save_signature', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ signature: dataURL, filename: filename, contract: contract, template_id: template_id, tckn: tckn})
                    }).then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        location.reload();
                    }).catch(error => {
                        console.error('Error:', error);
                    });
                }
            
                function saveSignature(contract, filename, template_id, tckn,mail) {
                    const dataURL = canvas{{identifier}}.toDataURL();
                    var waitstatus = document.getElementById('waitstatus');
                    var text = document.createTextNode("Lütfen Bekleyin imzanız Kaydediliyor. Sayfa otomatik yenilenecektir.");
                    waitstatus.appendChild(text);
                    fetch('/save_signature', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ signature: dataURL, filename: filename, contract: contract, template_id: template_id, tckn: tckn })
                    }).then(response => {
                        location.reload();
                    }).catch(error => {
                        console.error('Error:', error);
                    });
                }
            </script>
                
                
            {%else%}
            <div class="modal-header" style="width:100%;display:flex;justify-content:space-between;margin-bottom:16px">
                <h1 id="customer-name">{{username}} {{surname}} {{templateType}}
                </h1>
                <div class="close-side-modal">
                    <span id="file_count"></span>
                    <button data-close-button class="close-button">&times;</button>
                </div>
            </div>
            <div class="template_description">
                <h3>Açıklama</h3>
                <p>{{template.get("description")}}</p>
            </div>
            <div class="file-input-container" id="customer-files">
                <span style="color:yellow">Dosyaları aşağıdaki şekilde isimlendirerek yükleyiniz:</span>


                <script>
                    
                    let count_left_file{{identifier}} = 0;
                    $(`#modal{{identifier}} #file_count`).text(count_left_file{{identifier}}+"/{{ len(t_type(templateType))}}");

                </script>
                {% for count,name in enumerate(t_type(template.get("templateType"))) %}

                {% if
                len(check_files(tckn,template_id,convert_name(name,tckn)))
                != 0 %}
                <script>
                    count_left_file{{identifier}}++;
                    $(`#modal{{identifier}} #file_count`).text(count_left_file{{identifier}}+"/{{ len(t_type(templateType))}}");
                </script>

                <div class="file-group">
                    <label class="custom-file-input-no-hover" id="file-label">{{name}}: Yüklendi
                        {%if template.get("templateStatus") == 0 %}
                        <a class="delete" href="/api/delete_file?tckn={{tckn}}&template_id={{template_id}}&file_path={{'app/static/files/' +
                            convert_name(name,tckn)}}" style="color: red;"
                            onclick="return confirm('Silmek istediğinizden emin misiniz?')">Sil</a>
                        {%endif%}
                        <a class="download" href="/download/files/{{convert_name(name,tckn)}}.pdf"
                            style="color: var(--dl-repeating-color);">Download File</a>

                    </label>
                </div>
                {% else %}
                <form method="POST" action="/api/update_files_customer?tckn={{tckn}}&templateType={{templateType}}&template_id={{template_id}}&name={{convert_name(name,tckn)}}"
                    enctype="multipart/form-data">
                    <div class="file-group">
                        {{ form.csrf_token }}
                        {{ form.file(class="file-input",id="file-input-" + identifier + str(count) )}}
                        <label
                            for="file-input-{{identifier + str(count)}}"
                            class="custom-file-input" id='file-label-{{identifier+str(count)}}'>{{name}}<span style="color:var(--dl-repeating-color)">{{convert_name(name,tckn).lower().split("_")[0]}}</span></label>

                        <script>
                            $('#file-input-{{identifier + str(count)}}').change(function () {
                                filename = this.files[0].name;
                                $('#file-label-{{identifier + str(count)}}').text(filename);
                                console.log(filename);

                            });
                        </script>

                        {{form.submit_button(class="update-button button button-primary button-lg")}}
                    </div>
                </form>
                {% endif %}
                {% endfor %}
            </div>
            <div class="input-group">
                <h3>Yapılacaklar</h3>
                {% for task in template.get("tasks") %}
                {%if task.get("visibility") == 1 %}
                    {%if task.get("status") == 1%}
                    <div class='task'>
                        <label class="task-label">
                            <span class="task-icon">&#10003;</span>{{task.get("task")}}
                        </label>
                    </div>
                    {% else %}
                    <div class='task'>
                        <label class="task-label">
                            <span class="task-icon">&#8855;</span>{{task.get("task")}}
                        </label>
                    </div>
                    {%endif%}
                {%endif%}

                {%endfor%}
            </div>
            {%endif%}
        </div>
    </div>
</div>
<div draggable='true' class='draggable-item' data-modal-target="modal{{identifier}}">
    
    <h3 id='display_name' class='home-text02'>
        <span>{{username}} {{surname}} {{templateType}}</span>
        <br />
    </h3>
</div>