<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Select Area in PDF</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.min.js"></script>
    <link rel="stylesheet" href="static/css/signature_style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


  </head>
  <body>
    <div class="container">
      {%with%}
      {% include 'navigator.html' %}
      {%endwith%}

      <div class="left">

        <div class="pdf">
  
          <div class="canvas" id="canvas">
            <canvas id="pdfCanvas"></canvas>
            <canvas id="overlayCanvas"></canvas>
          </div>
          <div class="pdf-control">
            <form method="POST" action="/save_contract"
            enctype="multipart/form-data" accept="application/pdf" id="file-form">
              <div class="file-group">
                  {{ form.csrf_token }}
                  {{ form.file(class="file-input-signature",
                  id="file-input")}}
                  <label for="file-input" class="file-label-signature update-button ">Dosya Yükle</label>
              </div>
            </form>
            <button id="prevPage" class="button">Önceki Sayfa</button>
            <button id="nextPage" class="button">Sonraki Sayfa</button>
            <span id="pageInfo"></span>
            <div class="message">
              <br>
              <span>Dosya seçin ve fare ile dosya üzerinde imza eklenmesi gereken yeri seçin sizin için otomatik olarak sisteme eklenecektir.</span>
              <br></br>
              <span>Pdf gösterimi sağ taraf veya aşşağı taraftan fazlalık bulundurabilir dikkat ediniz.</span>
            </div>
            <div class="status">
              <span id="status"></span>
            </div>
          </div>
        </div>

      </div>


      <script src="static/js/app.js"></script>

    </div>
  </body>
</html>
