<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add user</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="static/modal.css" />

</head>
<body>
    <div class="users" id="users">
        <div id="overlay"></div>
        <div class="users-container">

            <table>
                <tbody id="user_information">
                    <tr>
                        <th>Full Name</th>                                
                        <th>TCKN</th>                                
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Role</th>
                        <th>Parent Roles</th>
                        <th>Template</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $.ajax({
            url:'/api/all_users',
            type:'GET',
            success: function(data){
                data.forEach(user => {
                    $(".users-container").append(`

                        <div class="modal" id="modal${user[2]}">
                            <div class="customertemplate-container">
                                <div class="close-button" data-close-button>
                                    <i class="fa-solid fa-xmark"></i>
                                </div>
                                <form id="templateForm${user[2]}" method="POST">

                                    <label for="description">Description:</label><br>
                                    <input type="text" id="description" name="description"><br>
                                    
                                    <label for="templateType">Template Type:</label><br>
                                    <select id="templateType" name="type">
                                        <option value="81A">81A</option>
                                        <option value="MAVIKART">MAVIKART</option>
                                        <option value="AUSBILDUNG">AUSBILDUNG</option>
                                        <option value="SCHENGEN">SCHENGEN</option>
                                    </select>
                                        <input type="hidden" id="tckn" name="tckn" value="${user[2]}">
                                        <input type="hidden" id="incharge" name="incharge" value='[\"{{session["email"]}}\"]'><br>
                                        <input type="hidden" id="files" name="files" value='[]'><br>                                
                                        <input type="hidden" id="tasks" name="tasks" value='[]'><br>
                                        <input type="hidden" id="comments" name="comments" value='[]'><br>
                                    <input type="submit" value="Submit">
                            </form>

                            </div>
                        </div>
                    `);
                    $("#user_information").append(`
                        <tr>
                            <td>${user[0]} ${user[1]}</td>
                            <td>${user[2]}</td>
                            <td>${user[3]}</td>
                            <td>${user[4]}</td>
                            <td>${user[7]}</td>
                            <td>${user[8]}</td>
                            <td><div data-modal-target="#modal${user[2]}" class="home-todo-content addtemplate">Add Template</div></td>
                        </tr>
                    `);
                    document.getElementById("templateForm"+user[2]).addEventListener("submit", function(event) {
                        event.preventDefault();
                        const formData = new FormData(this);
                        const searchParams = new URLSearchParams(formData).toString();
                        
                        // Now you can send this URL-encoded parameters to your backend via AJAX
                        console.log(searchParams);
                        console.log( '/api/add_template?'+ searchParams);
                        // Example AJAX request
                        $.ajax({
                            url: '/api/add_template?'+ searchParams,
                            type: 'POST',
                            success: function(response) {
                                console.log(response);
                            },
                            error: function(xhr, status, error) {
                                console.error(error);
                            }
                        });
                    });
                    // Attach event listeners after elements have been appended
                });


                
                $(".addtemplate").on("click", function () {
                    const modal = document.querySelector($(this).data("modal-target"));
                    openModal(modal);
                });

                $('#overlay').on('click', () => {
                    const modals = document.querySelectorAll('.modal.active');
                    modals.forEach(modal => {
                        closeModal(modal);
                    });
                });

                $("#addtemplate").on("click", '[data-close-button]', function () {
                    const modal = $(this).closest('.modal')[0];
                    closeModal(modal);
                });
            },
            error: function(xhr, status,error){
                console.error(error);
            }
        });

        function openModal(modal) {
            if (modal == null) return;
            modal.classList.add('active');
            $('#overlay').addClass('active');
        }

        function closeModal(modal) {
            if (modal == null) return;
            modal.classList.remove('active');
            $('#overlay').removeClass('active');
        }
    </script>
</body>
</html>