<!DOCTYPE html>
<html lang="en">

<head>
  <title>VisaMate</title>
  <meta property="og:title" content="Mean Sandy Fish" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <meta property="twitter:card" content="summary_large_image" />

  <style data-tag="reset-style-sheet">
    html {
      line-height: 1.15;
    }

    body {
      margin: 0;
    }

    * {
      box-sizing: border-box;
      border-width: 0;
      border-style: solid;
    }

    p,
    li,
    ul,
    pre,
    div,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    figure,
    blockquote,
    figcaption {
      margin: 0;
      padding: 0;
    }

    button {
      background-color: transparent;
    }

    button,
    input,
    optgroup,
    select,
    textarea {
      font-family: inherit;
      font-size: 100%;
      line-height: 1.15;
      margin: 0;
    }

    button,
    select {
      text-transform: none;
    }

    button,
    [type="button"],
    [type="reset"],
    [type="submit"] {
      -webkit-appearance: button;
    }

    button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
      border-style: none;
      padding: 0;
    }

    button:-moz-focus,
    [type="button"]:-moz-focus,
    [type="reset"]:-moz-focus,
    [type="submit"]:-moz-focus {
      outline: 1px dotted ButtonText;
    }

    a {
      color: inherit;
      text-decoration: inherit;
    }

    input {
      padding: 2px 4px;
    }

    img {
      display: block;
    }

    html {
      scroll-behavior: smooth
    }
  </style>
  <style data-tag="default-style-sheet">
    html {
      font-family: Inter;
      font-size: 16px;
    }

    body {
      font-weight: 400;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
      letter-spacing: normal;
      line-height: 1.15;
      color: var(--dl-color-gray-black);
      background-color: var(--dl-color-gray-white);

    }
  </style>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <link rel="stylesheet" href="https://unpkg.com/animate.css@4.1.1/animate.css" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet" href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" />
</head>

<body>
  <link rel="stylesheet" href="static/modal.css" />
  <link rel="stylesheet" href="static/style.css" />
  <link href="static/customertemplate.css" rel="stylesheet" />
  <link href="static/index.css" rel="stylesheet" />
    <header>
      <nav class="nav">
        <ul style="list-style-type: none;color:blue;">
          <li><a href="/">Home</a></li>
          <li><a href="/addtemplate">Add Template</a></li>
          <li><a href="/logout">Logout</a></li>

        </ul>
      </nav>
    </header>


    <div class="home-container">
      <div class="home-body-content">
        <div id="todo" class="home-todo">
          <div class="home-container1">
            <div class="home-title">
              <h1 class="home-heading">
                <span>Yapılacak</span>
                <br />
              </h1>
            </div>
            <div id="todo-content" class="home-todo-content">

            </div>
          </div>
        </div>



        <div id="done" class="home-done">
          <div class="home-container3">
            <div class="home-title2">
              <h1 class="home-heading2">
                <span>Yapıldı</span>
                <br />
              </h1>
            </div>
            <div id="done-content" class="home-done-content">

            </div>
          </div>
        </div>
      </div>

      <div id="overlay"></div>
      <script>
        $(document).ready(function () {
          function convertToFilename(str) {
            return str.toLowerCase().replaceAll(/ğ/g, 'g')
              .replaceAll(/ü/g, 'u')
              .replaceAll(/ş/g, 's')
              .replaceAll(/ı/g, 'i')
              .replaceAll(/ö/g, 'o')
              .replaceAll(/ç/g, 'c')
              .replaceAll("-", "_")
              
              .replaceAll(/,/g, "")
              .replaceAll(/ /g, "_")
              .replaceAll("(", "")
              .replaceAll(")", "")
              .toUpperCase()
          }
          const removeFileExtensions = (filePaths) => {
            return filePaths.map(filePath => filePath.replace(/\.[^/.]+$/, ''));
          };

          $.ajax({
            url: '/api/all_users',
            type: 'GET',
            success: function (data) {

              data.forEach(function (user) {
                let jsonArray = JSON.parse(user[9]);

                // Iterate over the array
                jsonArray.forEach(item => {

                  // Convert string representation of arrays to actual arrays
                  item.incharge = JSON.parse(item.incharge);
                  item.files = JSON.parse(item.files);
                  item.tasks = JSON.parse(item.tasks);
                  item.comments = JSON.parse(item.comments);

                });

                jsonArray.forEach(function (element) {
                  let modifiedFilePaths = [];
                  var ajaxPromise = new Promise(function (resolve, reject) {
                    $.ajax({
                      url: '/api/uploaded_files',
                      data: {
                        "template_id": element.template_id,
                        "tckn": user[2],
                      },
                      type: 'GET',
                      success: function (data) {
                        modifiedFilePaths = removeFileExtensions(data);
                        resolve(); // Resolve the promise
                      },
                      error: function (xhr, status, error) {
                        console.log("Error: " + error);
                        reject(error); // Reject the promise if there's an error
                      }
                    });
                  });
                  // Use the promise
                  ajaxPromise.then(function () {
                    var htmlCode= `
                    <div class="modal" id="modal${user[1]}${element.template_id}">
                          <div class="customertemplate-container">
                            <div id="customer" class="customertemplate-customer">
                              <div class="modal-header" style="width:100%;display:flex;justify-content:space-between;margin-bottom:16px">
                                <h1 id="customer-name">${user[0]} ${user[1]} ${element.templateType}</h1>
                                <div>
                                  <span id="file_count"></span>
                                  <button data-close-button class="close-button">&times;</button>
                                </div>
    
                              </div>
                              <div class="template_description">
                                <h3>${element.description}</h3>
                              </div>
                              <div class="file-input-container" id="customer-files">
    
                              </div>
                              <form class="task-form" id="add-task" style="border:1px solid black;" action="/api/add_task?template_id=${element.template_id}&user_id=${user[2]}" method="post">
                                <input type="text" id="task-title" name="task-content" placeholder="Add a Task">
                                <button class="update-button button button-primary button-lg" id="update-button" type="submit" ">Add</button>
                              </form>
                              <form class="customer-form" id="customer-form" action="/api/update_task?template_id=${element.template_id}&user_id=${user[2]}" method="post">
                                <div class="input-group">
        
                                </div>
                                <button class="update-button button button-primary button-lg" id="update-button" type="submit">Update</button>
                              </form>
                            </div>
                          </div>
                        </div>
                        <div class='draggable-item 'draggable='true'>
                            <div  data-modal-target='#modal${user[1]}${element.template_id}'>
                                <h3 id='display_name' class='home-text02'>
                                    <span>${user[0]} ${user[1]} ${element.templateType}</span>
                                    <br />
                                </h3>
                                </div>
                              <svg viewBox='0 0 1024 1024' class='editproperties' onclick="editProperties(${element.template_id})">
                                <path d='M864 0c88.364 0 160 71.634 160 160 0 36.020-11.91 69.258-32 96l-64 64-224-224 64-64c26.742-20.090 59.978-32 96-32zM64 736l-64 288 288-64 592-592-224-224-592 592zM715.578 363.578l-448 448-55.156-55.156 448-448 55.156 55.156z'></path>
                              </svg>

                                <div class="settings" id="settings${element.template_id}" style="display:none;flex-direction:column">

                                  <select id="templateType" name="type" onchange="handleChange(this.value,${user[2]},${element.template_id})">
                                    <option value="">Tür Düzenle</option>
                                    <option value="81A">81A</option>
                                    <option value="MAVIKART">MAVIKART</option>
                                    <option value="AUSBILDUNG">AUSBILDUNG</option>
                                    <option value="SCHENGEN">SCHENGEN</option>
                                  </select>
                                  <a href="/api/remove_template?tckn=${user[2]}&template_id=${element.template_id}" style="color:red;" onclick="return confirm('Silmek istediğinizden emin misiniz?')">Sil</a>
                                  <a href="/api/template_status?tckn=${user[2]}&template_id=${element.template_id}" style="color:#4854ea;" >Durum değiştir</a>
                                </div>
                        </div>
                            `

                    if (!(element.incharge.includes('{{session["email"]}}'))) {
                        return
                    }
                    if(element.templateStatus == 0 ){
                        $("#todo-content").append(htmlCode);

                    }else{
                        $("#done-content").append(htmlCode);
                    }

                    element.tasks.forEach(function (task) {
                      if (task.status == 1) {
                        $(`#modal${user[1]}${element.template_id} .input-group`).append(`<div class='task'><input name='task-${task.taskId}' id='task-${task.taskId}' type='checkbox' checked/><label for='task-${task.taskId}'>${task.task}</label></div>`);

                      } else {

                        $(`#modal${user[1]}${element.template_id} .input-group`).append(`<div class='task'><input name='task-${task.taskId}' id='task-${task.taskId}' type='checkbox' /><label for='task-${task.taskId}'>${task.task}</label></div>`);
                      }
                    });

                    $.ajax({
                      url: '/api/template_type',
                      data: "templateType=" + element.templateType,
                      type: 'GET',
                      success: function (data) {
                        let fileNames = data;
                        var count = 0;
                        var count_file = fileNames.length;
                        var count_left_file = 0;
                        fileNames.forEach(function (name) {

              
                          let name_file = convertToFilename(name).replaceAll("İ","I").replace("–","") + user[2].slice(-4);
                          let search_name = `../static/files/` + name_file;


                          if (modifiedFilePaths.length != 0 & modifiedFilePaths.includes(search_name)) {
                            count_left_file++;

                            $(`#modal${user[1]}${element.template_id} #customer-files`).append(`
                                <div class="file-group">
                                  <label class="custom-file-input" id="file-label">${name}: Yüklendi
                                  <a href="/api/delete_file?tckn=${user[2]}&template_id=${element.template_id}&file_path=${search_name}" style="color: red;">Sil</a>
                                  <a href="/download/${name_file}.pdf" style="color: #4854ea;">Download File</a>

                                  
                                  </label>
                                </div>

                              `);

                          } else {

                            $(`#modal${user[1]}${element.template_id} #customer-files`).append(
                              `
                              <form method="POST" action="/api/update_files?tckn=${user[2]}&count=${count}&templateType=${element.templateType}&template_id=${element.template_id}&name=${name_file}" enctype="multipart/form-data">
                                  <div class="file-group">
                                    {{ form.csrf_token }}
                                    <label for="file-input-${count}" class="custom-file-input" id="file-label">${name}:</label>
                                    {{form.file(id="file-input-${count}")}}
                                    {{form.submit(class="update-button button button-primary button-lg")}}
                                  </div>
                                  
                                  
                                </form>
                                
                                `);

                          };

                          count++;
                          $(`#modal${user[1]}${element.template_id} #file_count`).text(count_left_file + "/" + count_file);

                        });

                      },
                      error: function (xhr, status, error) {
                        console.error(error);
                      }
                    });
                  }).catch(function (error) {
                    // Handle errors
                    console.error("Failed to fetch modifiedFilePaths:", error);
                  });

                });

              });
            },
            error: function (xhr, status, error) {
              console.error(error);
            }
          });
        });

      </script>
      <script>
        function handleChange(selectedValue,tckn,template_id) {
          // Make sure a value is selected
          if (selectedValue) {
            // Make an AJAX request to the desired link
            // You can use fetch or jQuery.ajax here to send the request
            // For example using fetch:
            $.ajax('/api/change_templatetype', {
              method: 'GET', // or 'GET' depending on your needs

              data: {
                "templateType":selectedValue,
                "tckn":tckn,
                "template_id":template_id,
              },
              headers: {
                'Content-Type': 'application/json'
              }
            })
            .then(response => {
              location.reload(true);
              // Handle the response as needed
              console.log('Request sent successfully');
            })
            .catch(error => {
              console.error('Error:', error);
            });
          }
        }
        // Event delegation for opening modal
        $(document).on("click", '[data-modal-target]', function () {
        const modal = document.querySelector($(this).data("modalTarget"));
        openModal(modal);
        });

        // Event delegation for closing modal
        $('#overlay').on('click', () => {
        const modals = document.querySelectorAll('.modal.active');
        modals.forEach(modal => {
            closeModal(modal);
        });
        });

        // Event delegation for closing modal
        $(document).on("click", '[data-close-button]', function () {
        const modal = $(this).closest('.modal')[0];
        closeModal(modal);
        });

        // Function to open modal
        function openModal(modal) {
        if (modal == null) return;
        modal.classList.add('active');
        $('#overlay').addClass('active');
        }

        // Function to close modal
        function closeModal(modal) {
        if (modal == null) return;
        modal.classList.remove('active');
        $('#overlay').removeClass('active');
        }
        function editProperties(template_id){
          let element = document.getElementById('settings'+template_id);
          if (element.style.display == "flex"){
            element.style.display = "none";
          }else{
            element.style.display = "flex"
          }
        }

      </script>
    </div>

</body>

</html>